/* section*/
body{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0%;
}

header{
  display: block;
  background-color: #0078D4;
  height: 5%;
  position: relative;
}

nav{
  display: inline-block;
  background-color: #FAFAFA;
  width: 15%;
  min-height: 95%;
  margin: 0%;
  float: left;
  border-right: 1px solid #EBEBEB;
}

section{
  display: inline-block;
  background-color: #FAFAFA;
  width: 84%;
  min-height: 95%;
  margin: 0%;
  float: right;
  overflow: scroll;
}

#mainTop{
  display: block;
  background-color: #FAFAFA;
  height: 50px;
  border-bottom: 1px solid #EBEBEB;
}
/* section*/

/* header section */
#headerLeft{
  display: inline-block;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(-50%, -50%);
}

#headerCenter{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headerRight{
  display: inline-block;
  background-color: yellow;
  position: absolute;
  top: 50%;
  right: 0.5%;
  transform: translate(-50%, -50%);
}
/* header section */

/* header factor */
#searchBox{
  width: 470px;
  height: 30px;
  background-color: #E1DFDD;
  border: 0px solid #000000;
  border-collapse: collapse;
  border-radius: 2px;
  outline: none;
}

#searchBox:hover{
  background-color: white;
}

#searchBox:focus{
  background-color: white;
}
/* header factor */